
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img src="~/images/logo.jpg" alt="Logo" class="logo" />
    <img src="~/MyStaticFiles/download.png" alt="dummy" />
    <h1>Welcome to Book Application</h1>
</body>
</html>
